<div class="form-group">
  <%= form_for @user, :url => { :action => "create" } do |f| %>
    <%= f.email_field :email, :placeholder => "name@example.com", class: 'form-control' %>
    <input class="btn btn-large btn-primary" name="commit" type="submit" value="Suprise Me!" />
  <% end %>
</div>
