<div class="col-md-3 col-md-offset-4">
    <%= form_for @user, class: 'form-group', :url => { :action => "create" } do |f| %>
    <div class="col-md-9 col-sm-10 col-xs-9">
        <%= f.email_field :email, :placeholder => "name@example.com", class: 'form-control' %>
    </div>
    <div class="col-md-3 col-sm-2 col-xs-3">
        <%= f.submit class: "btn btn-large btn-primary", value: "Surprise Me" %>
    </div>
    <% end %>
</div>
