<div class="center">
    <div class="blue-side">
        <div class="logo"></div>
        <div class="info">
            When a cultural marketplace and a revolutionary razor brand team up it can't be anything but good.
        </div>
    </div>
    <div class="right-image">
    </div>
</div>
<div class="center2">
  <div class='more'>More than emails.</div>
  <%= render 'campaign_ongoing' %>
</div>
