<div class="centered">
    <div class="col-md-4 without-padding">
        <div class="blue-side">
            <div class="logo"></div>
            <div class="info">
                When a cultural marketplace and a revolutionary razor brand team up it can't be anything but good.
            </div>
        </div>
    </div>

<div class="col-md-8 without-padding">
    <div class="right-image"></div>
</div>
</div>
<div class="col-md-12">
    <div class='more'>More than emails.</div>
    <%= render 'campaign_ongoing' %>
</div>
