// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family: 'SofiaProBold';
  src:url('sofiabold.eot');
  src:url('sofiabold.eot?#iefix') format('embedded-opentype');
}
.more {
    float: left;
    text-transform: uppercase;
    padding-top: 53px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    width: 100%;
    font-size: 22px;
    font: bold 22px sans-serif;
    text-align: center;
    color: #0068FF;
}

input[type="email"] {
    height: 50px;
    width: 100%;
    text-align: center;
    font-family: '';
    font-weight: bold;
}

input[type="submit"] {
  height: 50px;
  background-color: #0068FF;
  font-family: sans-serif;
  border-radius: 0px;
  font-size: 22px;
}

.right-image {
    padding: 0;
    min-width: 100%;
    background: image-url('harrys-image.jpg');
    background-size: cover;
    float: left;
    height: 495px;
}

.blue-side {
    background-color: #0068FF;
    color: #fff;
    float: left;
    width: 100%;

    .logo {
        margin: 0 auto;
        width: 154px;
        height: 151px;
        background: image-url('white-bonsai.png');
    }

    .info {
        padding-top: 163px;
        letter-spacing: 1.5px;
        font-size: 22px;
        font: normal 22px sans-serif;
        text-align: center;
        padding-bottom: 103px;
    }
}

.bonsai-panel {
    height: 100%;
    min-height: 100%;
}

.without-padding {
    padding: 0;
}

.main-page {
    min-height: 700px;

    .blue {
        background-color: #0068FF;

        .logo {
            margin: 0 auto;
            width: 154px;
            height: 151px;
            background: image-url('white-bonsai.png');
            margin-bottom: 50px;
        }

        .thx {
            margin: 0 auto;
            width: 404px;
            height: 197px;
            background: image-url('img_THX.png');
        }

        span {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font: normal 22px sans-serif;
            color: #fff;
        }

        .for-signup {
            padding-top: 50px;
            padding-bottom: 150px;
            display: block;
            width: 100%;
            text-align: center;
        }

        .nowshare {
            margin: 0 auto;
            width: 300px;
            text-align: center;
            font-size: 20px;
            display: block;
            font-family: sans-serif;
        }

        .how {
            font-family: sans-serif;
            width: 100%;
            text-align: center;
            display: block;
            padding-top: 100px;
        }
    }
}

.center-refer {

    span {
        width: 100%;
        text-align: center;
        display: block;
        padding-top: 10px;
        font: normal 18px sans-serif;
    }

    .step:first-child {
        padding-top: 50px;
    }

    .step {
        padding-top: 30px;
        font: bold 18px sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #0068FF;
    }

    .step3 {
        width: 240px;
        margin: 0 auto;
    }

    .arrow-down {
        height: 50px;
        font-size: 50px;
        color: #0068FF;
        padding-bottom: 30px;
    }

    input[type="text"] {
        height: 50px;
        border-radius: 5px;
        border-color: black;
        width: 100%;
        text-align: center;
        background-color: rgb(57, 55, 55);
        color: #fff;
        font: normal 18px sans-serif;
    }

    .copy-link {
        padding-top: 30px;

        span {
            width: 100%;
            color: gray;
            text-align: center;
        }
    }

    .social-links {
        padding-top: 20px;
        width: 85px;
        margin: 0 auto;
        text-align: center;

        .fb {
            height: 30px;
            width: 17px;
            background: image-url('fb.png');
            display: block;
            float: left;
        }

        .twit {
            margin-left: 30px;
            float: left;
            height: 30px;
            width: 38px;
            background: image-url('twitter.png');
            display: block;
        }
    }

    span.info {
        padding-top: 50px;
        width: 300px;
        display: block;
        margin: 100px auto 0;
        font: normal 18px SofiaProBold;
        letter-spacing: 1.5px;
    }

    .step:last-child {
        padding-top: 59px;
        font-family: sans-serif;
    }
}

.rewards-col {
    padding: 0;
}

.rewards {
    padding: 0;
    height: 816px;
    background-color: rgb(57, 55, 55);

    .reward {
        width: 100%;
        height: 204px;
        letter-spacing: 1.5px;
        font: normal 18px sans-serif;
        color: #fff;
        position: relative;

        .name {
            font-family: sans-serif;
            float: left;
            width: 80%;
            padding-left: 5px;
        }

        .points {
            margin-top: 5px;
            float: right;
            text-align: right;
            width: 15%;
            color: #fff;
            background: image-url('friends.png') no-repeat;
        }

        .image {
            margin-top: 5px;
            width: 100%;
            float: left;
            text-align: center;
        }

        .current_points {
            background: image-url('friends.png') no-repeat;
            margin-top: 5px;
            float: right;
            text-align: right;
        }
    }

    .completed {
        background-color: #0068FF;
    }
}

.progress-reward {
    position: absolute;
    padding-left: 14px;
    margin-left: 88%;
    width: 50px;
    height: 23px;
    z-index: 100;
    background: image-url('friends.png') no-repeat;
}
