// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center {
  width: 1280px;
  margin: 0 auto;
}
.center2{
  width: 1280px;
  margin: 0 auto;
  .more{
    float:left;
    text-transform: uppercase;
    padding-top: 53px;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
    width: 100%;
    font-size: 22px;
    font: normal 22px "sofia_proregular";
    text-align: center;
    color: #0068FF;
  }
  .form-group{
    margin: 0 auto;
    width: 400px;
    .new_user{
      float: left;
    }
    input[type="email"] {
      height: 30px;
      text-align: center;
    }
  }
}
.right-image{
  min-width: 60%;
  background: image-url('harrys-image.jpg');
  background-size: cover;
  float: left;
  height: 495px;
}

.blue-side{
  width: 40%;
  background-color: #0068FF;
  color: #fff;
  float: left;
  .logo{
    margin: 0 auto;
    width: 154px;
    height: 151px;
    background: image-url('white-bonsai.png');
  }

  .info{
    padding-top: 163px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    width: 400px;
    font-size: 22px;
    font: normal 22px "sofia_proregular";
    text-align: center;
    padding-bottom: 103px;
  }
}
